extends layout

block content
    h1 Add Match
    form(method='POST', action='/matches/add')
        .form-group
            label Date:
            input.form-control(name='date' type='date' autofocus)
        .form-group
            label Time:
            input.form-control(name='time' type='time')
        .form-group
            label Venue:
            select.form-control(name='venue')
                option.form-control(value="" disabled selected) Please select a venue
                option.form-control(value="Home") Home
                option.form-control(value="Away") Away
        .form-group
            label Opposition:
            input.form-control(name='opposition' type='text')
        a.btn.btn-secondary.mr-1(href='/matches') Back
        input.btn.btn-primary(value='Submit' type='submit')
