extends layout

block content
    h1 Add Team
    form(method='POST', action='/teams/add')
        .form-group
            label Name:
            input.form-control(name='name' type='text' autofocus)
        .form-group
            label Gender:
            select.form-control(name='gender')
                option.form-control(value="" disabled selected) Please select a gender
                option.form-control(value="Male") Male
                option.form-control(value="Female") Female
                option.form-control(value="Mixed") Mixed
        a.btn.btn-secondary.mr-1(href='/teams') Back
        input.btn.btn-primary(value='Submit' type='submit')
